/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Open Sans
    ----------------------------------------
    Colors:
        Moon Yellow:         #f4c613
        Grey:                #212226
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */


/* =========================================
                Html, Body
============================================ */

html,
body {
    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}



/* =========================================
             login page
============================================ */
#bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#login-heading-1{
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 50px 0 -20px 0;
    color: #fff;
}
#login-heading-2{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    text-align: center;
    margin: -12px 17px 45px 60px;
    z-index: -1;
}
#login-heading img{
    color: #fff;
    width: -10px;
    height: -10px;
    margin: 0;
    position: relative;
    background-color: transparent;
    
}

input[type=text]{
    width: 86%;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    position: relative;
}
input[id=password-field]{
    width: 90%;
    margin-left: -17px;
}
.panel-body{
     padding: 30px 30px;
}

#login {
    background: none;
    height: 100%;
}
#login-btn{
    background-color: rebeccapurple;
    margin: 5px 95px 5px 0;
    
}
#login-btn .btn{
    color: white;
}
.form-group h5{
    margin: 15px 50px 0 0;
}
.form-group-password h5{
    margin: 15px 0 0 -15px;
}
#forgot-password-btn .btn{
    margin-bottom: 0;
    margin-right: -500px;
    margin-left: 200px;
    position: relative;
}

#forgot-password-btn h5{
    margin-right: 350px;
    margin-bottom: 0;
    position: relative;
}
#forgot-password-btn a{
    margin-left: 50px;
    margin-bottom: 0;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
  position: relative;
}

.login-box .form-group h5{
     margin-left: 10px;
    line-height: 2;
    border-radius: 10px solid #fff;
    
}
.login-box h3{
    font-family: 'Open sans', sans-serif;
    color: rebeccapurple;
    font-size: 30px;
    font-weight: 650;
    margin-left: -40px;
    margin-bottom: 2px;
    position: relative;
}
#password-warning p{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
   margin-bottom: 10px;
    margin: 5px 100px 10px -80px;
    color: #ff3636;
}







/* =========================================
              forgot password
============================================ */


#forgot-password-page {
    width: 100%;
    height: 100%;
    background: url("../images/banner-with-overlay.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#form-01 {
    background: white;
    width: 400px;
    height: 250px;
    padding: 30px 30px;
}

.forgot-text h3 {
    margin-top: 3px;
    color: #6255a5;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}


.forgot-text p{
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}



.form-group-forgot h5 {
    margin: 0 10px -17px 0;
    font-family: "Open Sans";
    color: #6255a5;
}


.form-group-forgot input {
   
    width: 330px;
    height: 30px;
    border-radius: 3px;
}

.btn-forgot {
    margin-left: -8px;
    margin-top: 15px;
    background-color: rebeccapurple;
    width: 330px;
    height: 30px;
    border-radius: 3px;
    font-style: "Open Sans";
    font-size: 13px;
    line-height: 10px;
}

.btn-forgot span {
    color: #fff;
}



/* =========================================
           Change Password Page
============================================ */
#change-password-page {
    width: 100%;
    height: 100%;
    background: url("../images/banner-with-overlay.jpg") no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#form-02 {
    background: #fff;
    width: 400px;
    height: 400px;
    padding: 30px 30px;
}

.change-text h3 {
    margin-top: 3px;
    color: #6255a5;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.change-text p{
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

.form-group-change h4 {
    
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    -webkit-transform: translate(-37%,0%);
    transform: translate(-37%,0%);
}

.form-group-change h5 {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    -webkit-transform: translate(-36%,0%);
    transform: translate(-36%,0%);
}


.form-group-change h6 {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
    -webkit-transform: translate(-33%,0%);
    transform: translate(-33%,0%);
}

.form-group-change input {
    border: 1px solid grey;
    width: 330px;
    height: 30px;
    border-radius: 3px;
}

.form-group-change i {
    margin-left: -30px;
    cursor: pointer;
}


/* =========================================
                sign up page
============================================ */
#signup-page {
    width: 100%;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container-signup {
    top 50%;
    left 50%;
    -webkit-transform: translate(30%,25%);
    transform: translate(30%,25%);
    position: absolute;
}

#form-03 {
    background: #fff;
    width: 400px;
    height: 580px;
    padding: 30px 30px;
}


.signup-text h3 {
    margin-top: 3px;
    color: #6255a5;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}

.signup-text p{
    margin-top: -5px;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

.form-group-signup label {
    margin-top: 3px;
    color: #6255a5;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    transform: translate(-5%,10%);
}

.form-group-signup input {
    border: .3px solid grey;
    width: 330px;
    height: 30px;
    border-radius: 3px;
}



/* =========================================
                user profile menu
============================================ */

#user-profile-page {
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.profile {
    color: #fff;
    transform: translate(43%,-350%)
}

.profilefaq {
    color: #fff;
    transform: translate(37%,-350%)
}

.content-box {
    transform: translate(0,45%)
}



.use-change input {
    background: url("../images/images/calendar.png") no-repeat;
    background-position: right 3% top 50%;
}
.use-change-01 input {
    background: url("../images/images/arrow-down.png") no-repeat;
    background-position: right 3% top 50%;
}

.use-change-02 input {
    background: url("../images/images/arrow-down.png") no-repeat;
    background-position: right 3% top 50%;
}


.user-form-01 h3,
.user-form-02 h3,
.user-form-03 h3
{
    margin-left: 30px;
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
    margin-bottom: 15px;
}

.form-group-user input {
    margin-bottom: 20px;
}
.user-main {
    margin-top: 15px;
}

.form-group-user label {
     font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.form-group-user ::-webkit-input-placeholder {
      font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
}


.form-group-user .btn-user-last {
    width: 100px;
    background-color: #6255a5;
    border-radius: 3px;
}

.logo {
    margin-top: 10px;
    transform: translate(10%,0)
}

.logo ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    transform: translate(33%,-100%)
}

.logo ul li {
    float: left; 
}

.logo ul li a {
    display: block;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}

.out a {
    background-color: #156ee2;
}



/* =========================================
                email verification page
============================================ */
.container-email-verification {
    top 50%;
    left 50%;
    -webkit-transform: translate(30%,25%);
    transform: translate(30%,25%);
    position: absolute;
}
#form-04 {
    background: #fff;
    width: 400px;
    height: 350px;
    padding: 30px 30px;
}

#login-heading-3 h3{
    font-family: "Open Sans",sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: -42px;
    margin-left: 28px;
    color: mediumpurple;
}
#login-heading-4{
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    text-align: center;
    margin: -10px 10px;
    z-index: -1;
    font-size: 15px;
}
#login-heading-3 img{
    color: #fff;
    width: -10px;
    height: -10px;
    margin: 0;
    position: relative;
    background-color: transparent;
    
}
.verification-box-text h3 {
    margin-top: 50px;
    color: #6255a5;
    font-family: "Open Sans";
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
}
.verification-box-text label{
    font-size: 18px;
    margin-left: -117px;
}

/* =========================================
              home page
============================================ */
.home-logo {
    transform: translate(10%,-500%)
}

.home-logo ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    font-family: sans-serif;
    font-size: 13px;
    transform: translate(47%,-100%)
}

.home-logo ul li {
    float: left; 
}

.home-logo ul li a {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

.hout a {
    background-color: #156ee2;
}



.home-head {
    position: absolute;
    top: 20%;
    left: 12%;
    
    transform: translate(0,-150%);
}

.home-head h3 {
    color: #ffffff;
    font-size: 43px;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    line-height: 54px;  
}

.downpaid {
    transform: translate(-20%,0);
}

.downpaid h3 {
    transform: translate(-25%,0);
    color: #6255a5;
}

.sell-home {
    transform: translate(70%,-100%);
}

.sell-home h3 {
    color: #6255a5;
}

.home-head p {
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}


#home-page {
      height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.abtoo {
    transform: translate(-30%,0);
}

.home-middle-01 {
    position: relative;
}

.blog-02 {
    position: relative;
    left: -10%;
}

.blog-01 {
    position: relative;
    left: 10%;
}

.home-middle-01 .col-md-10 h3,
.home-middle-02 .col-md-10 h3,
.home-middle-03 .col-md-10 h3,
.home-middle-04 .col-md-10 h3
 
{
    
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #6255a5;
    
}

.home-middle-01 .col-md-10 p,
.home-middle-02 .col-md-10 p,
.home-middle-03 .col-md-10 p,
.home-middle-04 .col-md-10 p
{
    margin-top: -15px;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #333333;
}


.home-middle-01 .par,
.home-middle-02 .par-01,
.home-middle-03 .par-02,
.home-middle-04 .par-03
{
    margin-left: 20px;
    padding: 5px 0px 5px 0px;
    margin-bottom: 10px
}

.last-one .home-last h3 {
    padding: 15px 0px 10px 0px;
    
}


.home-middle-01 .col-md-2 img,
.home-middle-02 .col-md-2 img,
.home-middle-03 .col-md-2 img ,
.home-middle-04 .col-md-2 img 
{
    height: 60px;
    -webkit-transform: translate(15px,10px); 
    transform: translate(15px,10px);
} 


.home-middle-01,
.home-middle-02,
.home-middle-03,
.home-middle-04
{
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    
}

.home-middle-01 {
    transform: translate(-55%,0);
}

.home-middle-02 {
    transform: translate(50%,-105%);
}

.home-middle-03 {
    transform: translate(-55%,-100%);
}

.home-middle-04 {
    transform: translate(50%,-205%);
}


.last-one .home-last h3 {
    color: #6255a5;
    margin-bottom: 20px;
}

#home-page .row .middle {
    background-color: red;
}

.home-middle .abuti h3 {
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    color: #6255a5;
    padding: 20px 0px;
    transform: translate(-70%,0);
}

.home-middle .abute {
    transform: translate(20%,-40%);
} 

#home-page .home-middle-01-text h3 {
     font-family: "Open Sans",sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 25px;
    color: #6255a5;
    padding: 20px 0px;
}

.middle {
    background-color: gainsboro;
    height: 300px;
    
}

.middle .blog-01 {
    position: relative;
    left: -15%;
    -webkit-transform: translateY(50px); 
    transform: translateY(50px);
   
}

.middle .blog-02 {
    position: relative;
    left: 10%;
    -webkit-transform: translateY(-145px);
    transform: translateY(-145px);
   
}

.blog-01 h3,
.blog-02 h3
{
    color: #6255a5;
     font-family: "Open Sans",sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
}

.home-team {
    width: 100%;
}


/* =========================================
             search page
============================================ */

.search-logo {
    margin-top: 10px;
    transform: translate(10%,0)
}

.search-logo ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    transform: translate(47%,-100%)
}

.search-logo ul li {
    float: left; 
}

.search-logo ul li a {
    display: block;
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}

.sout a {
    background-color: #156ee2;
}





/* Search Field */



.form-header h3 {
    margin: 60px 0 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #6255a5;
}

.container-fluid {
    padding: 0 100px;
}

form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 3px;
}

#search-field .row .form-group {
    min-width: 180px;
}

.form-group input,
.form-group select {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #8a8a8a;
    border: 1px solid #d1d1d1;
    height: 50px;
    border-radius: 3px;
}

.form-group input {
    margin-bottom: 20px;
}

.form-group select {
    margin-right: 20px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

/* Remove IE arrow */


select::-ms-expand {
    display: none;
}

.col {
    position: relative;
}

.col::after {
    content: url("../images/arrow-down.png");
    position: absolute;
    top: 14px;
    right: 20px;
    cursor: pointer;
    pointer-events: none;

}

.form-text .form-control {
    padding-left: 40px;
}

.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    pointer-events: none;
}


/* =========================================
                Note Details
============================================ */
#notes-header {
    padding: 60px 0 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #6255a5;
}

#notes .col-md-4 {
    padding: 15px;
}

#notes .search {
    padding: 0;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}

.note-img img {
    width: 100%;
}

.about-note {
    padding: 30px;
}

.note-heading h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;
    height: 100px;
}

.about-note ul {
    list-style: none;
}

.about-note ul li {
    padding-bottom: 15px;
}

.about-note ul li span.simple {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
}

.about-note ul li img {
    margin-top: -5px;
    height: 20px;
}

.space {
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    height: 20px;
    text-align: center;
}

.about-note ul li span.inapp {
    color: #df3434;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.stars img {
    height: 20px;
    margin: -7px 1px 0;
}

.about-note span.reviewcount {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 5px;
}

/* Stars */


.rate {
    float: left;
    height: 20px;
}

.rate:not(:checked) > input {
    display: none;
}

.rate:not(:checked) > label {
    float: right;
    width: 25px;
    height: 20px;
    overflow: hidden;
    padding: 0 2px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    content: url("../images/star-white.png");
}

.rate:not(:checked) > label:before {
    content: url("../images/star-white.png");
}

.rate > input:checked ~ label {
    content: url("../images/star.png");
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    content: url("../images/star-white.png");
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    content: url("../images/star.png");
}



/* =========================================
                thanks pop up
============================================ */
.modal-content{
    
   font-family: "Raleway", sans-serif;
    border-radius: 28px;
    font-size: 20px;
}
.modal-header h2{
    font-size: 30px;
    color: rebeccapurple;
    font-weight: 600;
    text-align: center;
}
.modal-body h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    
}
.modal-body p{
    font-size: 15px;
}

/* =========================================
                user profile menu
============================================ */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}


/* =========================================
                dashboard
============================================ */
.container-dashboard{
    
    border-color: #f4f4f4;
    background-color: #fff;
}
.form-header label {
    transform: translate(70%,0);
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}
#btn-dashboard  {
    transform: translate(170%,0);
    color: #6255a5;
    width: 150px;
    height: 36px;
    border-radius: 3px;
    text-decoration-color: #fff;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-style: "bold";
}

.tables {
    width: 80%;
    transform: translate(10%,0);
}
.sea input[type=text] {
    height: 30px;
    width: 15%;
    transform: translate(492%,-100%);
}
#btn-form-dashboard-1 {
    height: 36px;
    transform: translate(1070%,-170%);
}
.dashboard-labels{
    transform: translate(8%,0);
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: rebeccapurple
}
label[for=my earning]{
    font-size: 30px;
    color: rebeccapurple;
}
.form-group-dashboard label span{
    font-family: 'Open Sans', sans-serif;
    color: rebeccapurple;
    font-size: 30px;
    font-weight: 900;
}
.form-group-dashboard label strong{
    color: rebeccapurple;
    font-size: 25px;
    text-align: center;
}
.form-group-dashboard label{
    transform: translate(85%,0);
    border: 2px solid #d1d1d1;
    font-weight: 600;
}
#btn-dashboard,
#btn-form-dashboard-1,
#btn-form-dashboard-2
{
    color: white;
    background-color: rebeccapurple;
    font-style: Bold(700);
}
.tables button{
    background-color: #fff;
    border: 1px solid #fff;
}
.form-header label{
    margin-right: 500px;
}



/* =========================================
                add notes
============================================ */

/* Details */
.form-header h3 {
    margin: 60px 0 40px;
    font-size: 34px;
    line-height: 38px;
    font-weight: 600;
    color: #6255a5;
}

.form-group label,
.textarea label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
    transform: translate(20%,0);
}

.form-group input,
.form-group select {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #8a8a8a;
    margin: 0 30px 30px 0;
    border: 1px solid #d1d1d1;
    height: 50px;
    border-radius: 3px;
}


#form-type,
#form-category,
.form-country {
    margin-top: 4px;
}


.btn-form {
    background-color: #6255a5;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 30px 0 60px;
    text-transform: uppercase;
}

.btn:hover {
    color: #fff;
}

.image-upload input {
    display: none;
}

.image-upload p {
    color: #8a8a8a;
}

.image-upload.form-control {
    height: 100px;
}

.image-upload label {
    margin-top: 10px;
}

textarea {
    resize: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #8a8a8a;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.check {
    display: inline-block;
    position: relative;
    padding-left: 45px;
    padding-top: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate(10%,0);
}

#check label {
    transform: translate(10%,0);
}

/* Hide the browser's default radio button */
.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label.check {
    margin-right: 20px;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
    background-color: #d1d1d1;
}

/* When the radio button is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.check .checkmark:after {
    top: 9px;
    left: 9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #6255a5;
}

.file-upload input {
    display: none;
}

.file-upload p {
    color: #8a8a8a;
}

.file-upload.form-control {
    height: 125px;
}

.file-upload label {
    margin-top: 20px;
}

/* Navigation */
.navbar {
    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 20px 0;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #333333;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 5px;
}

#btn-nav {

    width: 89px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    background-color: #6255a5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 5px;
}

#btn-nav:focus {
    outline: 0 !important;
}

li.nav-item img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

#btn-form {
    background-color: #6255a5;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 30px 0 60px;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown .btn {
    padding: 0;
}

.dropdown-menu {
    left: -100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: 0;
}


button:hover,
button:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}





/* =========================================
                my downloads
============================================ */



/* download */

.container-fluid {
    padding: 0 100px;
}

#download {
    padding: 130px 0 60px;
}

/* Tables */
.tab-heading h5 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #6255a5;
    margin-bottom: 30px;
}

.form-inline {
    float: right;
    margin-bottom: 30px;
}
.form-inline button[type=submit] {
    transform: translate(0,-45%);
}
.form-text input {
    height: 40px;
    border: 1px solid #d1d1d1;
    margin-top: -5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #8a8a8a;
    margin-right: 16px;
}

.form-text .form-control {
    padding-left: 40px;
}

.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
}

#download button.btn {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    background-color: #6255a5;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

table {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

#download .table tbody tr td:nth-child(2) {
    color: #6255a5;
}

.table tr {
    height: 75px;
}

.table thead th {
    border-top: 1px solid #d1d1d1;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
    vertical-align: middle;
}

.table tbody td {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.act .eye {
    margin-right: 5px;
    display: inline;
}

.act .dropdown {
    display: inline;
}

/* Pagination */

ul.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0 60px;
}

ul.pagination li.number a {
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 15px;
}

ul.pagination li img {
    width: 8px;
    height: 15px;
    color: #333333;
    border: none;
}

ul.pagination li.prev a {
    margin-right: 40px;
    border: none;
}

ul.pagination li.next a {
    margin-left: 40px;
    border: none;
}

ul.pagination li.number a:hover,
ul.pagination li.number a:focus {
    width: 34px;
    height: 34px;
    background-color: #6255a5;
    color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Navigation */
.navbar {
    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 20px 0;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #333333;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 5px;
}

#btn-nav {

    width: 89px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    background-color: #6255a5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 5px;
}

#btn-nav:focus {
    outline: 0 !important;
}

li.nav-item img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

#btn-form {
    background-color: #6255a5;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin: 30px 0 60px;
    text-transform: uppercase;
}

.btn:hover,
.btn:focus {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown .btn {
    padding: 0;
}

.dropdown-menu {
    left: -100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: 0;
}

#download .act .dropdown-menu {
    left: -200%;
}

a.same:hover,
a.same:focus,
a.diff:hover,
a.diff:focus {
    background-color: #6255a5;
    color: #fff;
}

a.same {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

a.diff {
    color: #6255a5;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

button:hover,
button:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

}





/* =========================================
                FAQ page
============================================ */


/* Faq */
.accordion > .card:not(:last-of-type) {
    border-bottom: 0;
}

.card {
    margin: 15px 0;
    border: 0;
}

.card-header {
    background-color: #f3f3f3;
    border-bottom: 0;
}

.card-header h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    display: inline-block;
}

.card-header button {
    float: right;
}

.btn.focus,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

/* Navigation */
.navbar {
    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 20px 0;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #333333;
}

.nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 5px;
}

#btn-nav {

    width: 89px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #6255a5;
    color: #fff;
    background-color: #6255a5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 5px;
}

#btn-nav:focus {
    outline: 0 !important;
}
}



/* =========================================
               note details
============================================ */



/* Deatails */

.container-fluid {
    padding: 0 100px;
}

#about-note {
    padding: 100px 0 0;
}

.details-heading h5 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #6255a5;
    margin: 60px 0 20px;
}

.note-img {
    padding: 0 0 0 15px;
}

#about-note .note-img img {
    width: 100%;
}

.note-desc {
    padding: 0 60px 0 40px;
}

#note-heading h3 {
    font-size: 34px;
    line-height: 38px;
    font-weight: 600;
    color: #6255a5;
}

#note-heading p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    margin: 15px 0 20px;
}

.note-desc #text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.note-desc button.btn {
    width: 204px;
    height: 45px;
    border-radius: 3px;
    color: #fff;
    background-color: #6255a5;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}
/* Modal */
.modal {
    padding-top: 100px;
}
.modal-header {
    border-bottom: 0;
    padding: 10px;
}
.modal-header .close {
    opacity: 1;
}
.modal-body {
    padding: 30px 55px 0 40px;
}
.modal-body .thank span{
    
}
.modal-body .thank span i {
    font-size: 30px;
    width: 63px;
    height: 63px;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #6255a5;
    border-radius: 50%;
}
.modal-body .thank h5 {
    color: #6255a5;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}
.modal-body .message span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}
.modal-body .message p {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 30px;
    
}

.note-details div {
    display: inline-block;
    width: 100%;
}

.note-details .label {
    float: left;
    width: 40%;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}

.note-details .value {
    float: right;
    width: 60%;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #6255a5;
    text-align: right;
    margin: 0;
}

span.inappro {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #df3434;
}

.rate img {
    width: 20px;
    height: 20px;
}

#main {
    border: 1px solid #d1d1d1;
    padding: 30px;
}

#details2 {
    margin-bottom: 50px;
}

.customer .customer-details {
    padding-left: 30px;
}

.customer .client img {
    width: 50px;
    height: 50px;
}

.customer h6 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
}

.customer p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.customer .rate {
    margin-top: -5px;
}




/* Dashboard */

.container-fluid {
    padding: 0 80px;
}

#details1 {
    padding: 130px 0 30px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 60px;
}

.details-heading h5 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    color: #6255a5;
    margin: 0px 0 20px;
}
.details1-1.col-lg-5 {
    border-right: 1px solid #d1d1d1;
}
.m-img img {
    width: 100%;
}

.note-details div {
    display: inline-block;
    width: 100%;
}

.note-details .label {
    float: left;
    width: 45%;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    color: #333333;
}

.note-details .value {
    width: 55%;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    color: #6255a5;
}
.offset-sm-2 {
    display: none;
}

/* Tables */
.tab-heading h5 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #6255a5;
    margin-bottom: 30px;
}



table {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.table tr {
    height: 75px;
}

.table thead th {
    border-top: 1px solid #d1d1d1;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;
    vertical-align: middle;
}

.table tbody td {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #333333;
    vertical-align: middle;
}

.table-hover tbody tr:hover {
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

#member .table tbody tr td:nth-child(2),
#member .table tbody tr td:nth-child(5) {
    color: #6255a5;
}
#member .table tbody tr td:nth-child(6),
#member .table tbody tr td:nth-child(5) {
    padding-left: 40px;
}
#member .table tbody tr td:nth-child(1) {
    padding-left: 20px;
}

